/*-- scss:defaults --*/

$body-color: white;
$body-bg: #1a1a1a;
$code-block-bg: #2a2a2a;
$code-bg: #2a2a2a;
$code-color: white;
$font-family-sans-serif: 'Inclusive Sans';

/*-- scss:rules --*/

.cell-output.cell-output-stdout code {
  color: white;
}









