/*-- scss:defaults --*/

$body-color: white;
$body-bg: #1a1a1a;
$code-block-bg: #2a2a2a;
$code-bg: #2a2a2a;
$code-color: white;

/*-- scss:rules --*/

body {
  font-family: 'Inclusive Sans', sans-serif;
  background-color: $body-bg;
  color: $body-color;
}

code {
  background-color: $code-block-bg;
  background-color: $code-bg;
  color: $code-color;
}



